/* ------------------------------------
    Base Style
------------------------------------ */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 0;
    padding: 2rem;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    background-color: rgba(54, 69, 69);
    text-transform: uppercase;
}

h2 {
    margin-top: 2rem;
    font-size: 1.2em;
}

main {
    width: 90%;
    margin: 0 auto;
}

select,
section p,
.flex-inner option,
:disabled {
    color: rgba(139, 139, 139, 0.5);
}

form {
    margin-top: 3px;
}

select,
fieldset {
    margin: 0;
    padding: 0;
    border: 0 none;
}

legend {
    padding: 2rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

legend:nth-of-type(1) {
    width: 100%;
    border-top: 3px solid #000;
}

label {
    color: #363635a6;
}

input::placeholder {
    color: rgba(0, 0, 0, .3);
    font-size: .85em;
    padding-right: 20px;
    text-align: right;
    font-style: italic;
}

/* ------------------------------------
    Class Selectors
------------------------------------ */

.main-header {
    text-align: center;
}

.main-header section {
    width: 90%;
    margin: 0 auto;
    border-bottom: 5px solid #000;
}

.main-header p:last-child {
    font-size: .9rem;
    margin-bottom: 32px;
}

.container {
    display: flex;
    flex-direction: column;
}

.flex-outer {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.flex-outer input:last-of-type {
    margin-right: auto;
    width: 50%;
}

select,
.flex-outer > input[type] {
    margin-bottom: 10px;
    border: 0;
    border-radius: 4px;
}

.flex-outer > input:last-of-type {
    margin-bottom: 0;
}

.flex-inner {
    flex-basis: 4em;
    padding: 0 0 0 20px;
    background-color: rgb(230, 231, 234);
}

.flex-outer2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.item {
    margin-left: 5px;
    margin-bottom: 16px;
    flex-basis: 1.5em;
}

.item label:first-child {
    margin-bottom: 15px;
}

.item > label[for] {
    padding-left: 8px;
}

#last {
    padding: 0;
}

.item textarea {
    width: 100%;
    margin-top: 16px;
    border: 0;
    border-radius: 4px;
    background-color: rgb(230, 231, 234);
}

.news {
    margin-bottom: 0;
}

.main-footer {
    border: 2px solid orange;
}

/* ------------------------------------
    Media Query 
------------------------------------ */

@media (min-width: 768px) {

}